<div class="layout bg-littleblack footer padding-top padding-bottom border-little border-top border-red">
    <div class="x12 show-l" style="display:none;">
	<p class="text-center">CopyRight 2010-2016 www.somyshare.com All Rights Reserved 陕ICP备14012129号-2</p>
    </div>
    <div class="container table-responsive hidden-l">
        <div class="x12">
            <div class="x2 margin-top">
                <a href="#"><strong>关于索镁</strong></a>

                <div class="margin-top">
                    <div class="height"><a href="/about/us">关于索镁</a></div>
                    <div class="height"><a href="/about/faq">常见问题</a></div>
                </div>
            </div>
            <div class="x2 x1-move margin-top">
                <a href="#"><strong>联系我们</strong></a>

                <div class="margin-top">
                    <div class="height">电话：029-68686809</div>
                    <div class="height">传真：029-68686809</div>
                    <div class="height">地址：西安市雁塔区丈八一路绿地SOHO A座1909室</div>
                </div>
            </div>
            <div class="x3 x1-move margin-top">
                <a href="#"><strong>索镁宗旨</strong></a>

                <div class="margin-top">
                    <p>我们的目标是让想真正做好外贸电子商务的公司和个人能系统和科学的学会最新最实用的方法和技巧。我们坚信要做好网络营销只能靠自己。</p>
                </div>
            </div>
            <div class="x2 x1-move margin-top">
                <img src="{$Think._IMG}/somyshare.jpg" class="img-responsive ewm"/>
                <p>扫我获取外贸干货</p>
            </div>
        </div>
    </div>
</div>

<div class="clearfix"></div>
</body>
</html>
