{include file="public/header" /}
<script type="text/javascript" charset="utf-8" src="{$Think._COMMON}/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="{$Think._COMMON}/avatar/jquery.Jcrop.min.js"></script>
<link rel="stylesheet" type="text/css" href="{$Think._COMMON}/avatar/jquery.Jcrop.min.css"/>
<div class="layout">
    <div class="container margin-large-top margin-large-bottom">
        <div class="x3">
            {include file="member/left" /}
        </div>

        <div class="x9 course-list">

            <div class="x11 margin-large-left">
                <div class="margin-big-bottom padding-bottom border-small border-red border-bottom ">
                    <h2>头像设置</h2>
                </div>

                <div class="form-group padding-big-left">

                    <form class="form-avatar">
                        <div id="container">


                            <div class="x12 margin-big-bottom no_upload {if !empty($userInfo['avatar'])}hidden{/if}">
                                <div class="label">
                                    <label>您还没有上传头像，点击下面按钮上传？ </label><span class="text-gray"></span>
                                </div>
                                <div class="button-group float-left">
                                    <input type="hidden" id="cover" name="avatar" value="{$userInfo.avatar|default=''}"/>
                                    <a class="button input-file" id="pickfiles" href="javascript:void(0);">+ 上传头像</a>
                                </div>
                                <div id="picInfo" class="margin-top margin-left float-left"></div>
                            </div>

                            <div class="x12 {if empty($userInfo['avatar'])}hidden{/if} margin-big-bottom" id="imgPic">
                                <div class="crop-info float-left">
                                    {if empty($userInfo['avatarPath'])}
                                    <img src="{$Think._IMG}/nologin.gif" id="cropbox" class="cropbox"/>
                                    {else/}
                                    <img src="{$userInfo.avatarPath}" onerror="this.src='{$Think._IMG}/nologin.gif'" id="cropbox" class="cropbox"/>
                                    {/if}
                                    <input type="hidden" id="cropX" name="cropX"/>
                                    <input type="hidden" id="cropY" name="cropY"/>
                                    <input type="hidden" id="cropW" name="cropW"/>
                                    <input type="hidden" id="cropH" name="cropH"/>

                                    <div class="clearfix"></div>
                                    <a class="button bg-green padding-large-left padding-large-right margin-big-top"
                                       href="{:U('cropPic')}"
                                       onclick="indexAjaxAsk(this,{type:'post',form:'form-avatar'});return false;">裁 剪</a>
                                    <div class="button bg-yellow padding-large-left padding-large-right margin-big-top" style="cursor: pointer;" onclick="resize()">重传</div>
                                </div>

                                <div class="crop-sucess border border-dashed border-green-light padding float-left margin-large-left">
                                    <div class="margin-bottom text-gray center-align">头像预览</div>
                                    {if empty($userInfo['avatarPic'])}
                                    <img src="{$Think._IMG}/nologin.gif"  class="radius-circle success-img"/>
                                    {else/}
                                    <img src="{$userInfo.avatarPic}" onerror="this.src='{$Think._IMG}/nologin.gif'" class="radius-circle success-img"/>
                                    {/if}
                                </div>
                                <div class="clearfix"></div>
                            </div>

                        </div>
                    </form>

                </div>


                <script type="text/javascript">

                    $(function () {

                        $('#cropbox').Jcrop({
                            aspectRatio: 1,
                            onSelect: updateCoords,
                        });

                        var uploaderPic = new plupload.Uploader({
                            runtimes: 'html5,flash,silverlight,html4',
                            browse_button: 'pickfiles',
                            container: document.getElementById('container'),
                            url: "{:U('uploadAvatar')}",
                            multi_selection: false,
                            chunk_size: '500kb',
                            flash_swf_url: '{$Think._COMMON}/plupload/Moxie.swf',
                            silverlight_xap_url: '{$Think._COMMON}/plupload/Moxie.xap',

                            filters: {
                                max_file_size: '500kb',
                                mime_types: [
                                    {title: "Image files", extensions: "jpg,gif,png"}
                                ]
                            },

                            init: {
                                PostInit: function () {
                                    $("#picInfo").html();
                                },

                                FilesAdded: function (up, files) {
                                    plupload.each(files, function (file) {
                                        document.getElementById('picInfo').innerHTML = '<div id="' + file.id + '">' + file.name + ' (' + plupload.formatSize(file.size) + ') <b></b></div>';
                                        uploaderPic.start();
                                    });
                                },

                                UploadProgress: function (up, file) {
                                    document.getElementById(file.id).getElementsByTagName('b')[0].innerHTML = '<span>' + file.percent + "%</span>";
                                },

                                FileUploaded: function (uploader, file, responseObject) {

                                    if (responseObject.response == 5) {
                                        var _layerOpts = {
                                            title: false,
                                            time: 2000,
                                            icon: 5,
                                            callback: false,
                                            shade: [0.5, '#000'],
                                            content: '文件上传失败！请重新登录试下！'
                                        };
                                        layer.msg(_layerOpts.content, _layerOpts);
                                    } else {
                                        $('#cropbox').Jcrop({
                                            aspectRatio: 1,
                                            onSelect: updateCoords,
                                        });
                                        var response = responseObject.response;
                                        var result = response.split(",");
                                        $('#cover').val(result[0]);
                                        $('#imgPic').removeClass('hidden');
                                        $('.no_upload').addClass('hidden');
                                        $('#imgPic').children('.crop-info').find('img').attr('src', result[1]);
                                    }
                                },

                                Error: function (up, err) {
                                    document.getElementById('console').appendChild(document.createTextNode("\nError #" + err.code + ": " + err.message));
                                }
                            }
                        });

                        uploaderPic.init();

                    });

                    function resize(){
                        $('.no_upload').removeClass('hidden');
                        $('#imgPic').addClass('hidden');
                    }

                    function updateCoords(c) {
                        $('#cropX').val(c.x);
                        $('#cropY').val(c.y);
                        $('#cropW').val(c.w);
                        $('#cropH').val(c.h);
                    }

                    function cropSucess(rs) {
                        $('.crop-sucess').find('img').attr('src', rs + '?t=' + Math.random());
                    }

                    function checkCoords() {
                        if (parseInt($('#cropW').val())) {
                            return true;
                        }
                        alert('Please select a crop region then press submit.');
                        return false;
                    }

                </script>
            </div>


        </div>
    </div>
</div>

{include file="public/footer" /}


