{include file="public/header" /}
<script type="text/javascript" charset="utf-8" src="{$Think._COMMON}/plupload/plupload.full.min.js"></script>
<script type="text/javascript" src="{$Think._COMMON}/avatar/jquery.Jcrop.min.js"></script>
<link rel="stylesheet" type="text/css" href="{$Think._COMMON}/avatar/jquery.Jcrop.min.css"/>
<div class="layout">
    <div class="container margin-large-top margin-large-bottom">
        <div class="x3">
            {include file="member/left" /}
        </div>

        <div class="x9 course-list">

            <div class="x11 margin-large-left">
                <div class="margin-big-bottom padding-bottom border-small border-red border-bottom ">
                    <h2>密码修改</h2>
                </div>

                <form class="form-horizontal padding-big-left">

                    {if (isset($info['uid'])) }
                    <div class="form-group">
                        <div class="label">
                            <label>旧密码 </label><span class="text-gray">（用户当前密码）</span>
                        </div>
                        <div class="field">
                            <input type="password" class="input input-auto" size="70" name="oldPassword" value="">
                        </div>
                    </div>
                    {/if}

                    <div class="form-group">
                        <div class="label">
                            <label>{:isset($info['uid'])?'新':''}密码 </label><span class="text-gray">（将要修改为的密码,无需修改请留空）</span>
                        </div>
                        <div class="field">
                            <input type="password" class="input input-auto" size="70" name="password" value="">
                        </div>
                    </div>

                    <div class="form-group">
                        <input type="hidden" name="uid" value="{$info.uid|default=''}">
                        <a class="button bg-green padding-large-left padding-large-right" id="submit" href="{:U('password')}"
                           onclick="indexAjaxAsk(this,{type:'post',form:'form-horizontal'});return false;">确 定</a>
                    </div>
                </form>

            </div>


        </div>
    </div>
</div>

{include file="public/footer" /}


