{include file="public/header" /}

<div class="layout min-height">
    <div class="container margin-large-top margin-large-bottom">
        <div class="x3">
            <ul class="list-group">
                {volist name="tradeCate" id="cate"}
                <li class="text-default"><strong><a href="/trade/{$cate.id}" class="padding-big-left">{$cate.title}</a></strong></li>
                {if !empty($cate['_'])}
                {volist name="cate['_']" id="child"}
                <li><span class="float-right badge">0</span><a href="/trade/{$child.id}" class="padding-big-left">{$child.title}</a> </li>
                {/volist}
                {/if}
                {/volist}
            </ul>
        </div>
        <div class="x9">
            <ul class="list-unstyle  margin-large-left margin-large-right">
            {volist name="article" id="a" empty="暂时没有数据"}
                <li class="margin-top margin-bottom border-bottom border-dotted height">
                    <span class="float-right">{$a.create_time|timeToDate}</span>
                    <a href="/article/{$a.id}" >{$a.title} <span class="text-small text-gray">(阅读: {$a.views} 次)</span></a>
                </li>
            {/volist}
            </ul>
        </div>
    </div>
</div>

{include file="public/footer" /}


