    <div class="margin-big-bottom">
        <h2>菜单管理 </h2>
    </div>

    <div class="cf">
        {if !empty($buttons['_'])}
        {volist name="buttons['_']" id='bt'}
        {if $bt.group ==3}
        <a class="button bg-main radius-none margin-bottom" data-id="{$bt.id}" data-group="{$bt.group}" title="{$bt.title}" href="{:U(getParam($bt.url,$bt.get_param,array('pid'=>I('get.pid',0))))}" onclick="adminAjaxAsk(this{$bt.ajax_param ? ','.$bt.ajax_param:''});return false;">{$bt.title}</a>
        {/if}
        {/volist}
        {/if}
        <!-- 高级搜索 -->
        <div class="float-right">
            <div class="sleft">
                <input type="text" name="title" class="input input-auto" size="36" value="{:I('title')}" placeholder="请输入菜单名称">
                <a class="sch-btn" href="javascript:;" id="search" url="__SELF__"><i class="btn-search"></i></a>
            </div>
        </div>
    </div>

    <div class="data-table table-striped">
        <form class="ids form-small">
            <input type="hidden" name="mod" id="module" value="{$Think.MODULE_NAME}">
            <input type="hidden" name="con" id="controller" value="{$Think.CONTROLLER_NAME}">
            <table class="table table-striped">
                <thead>
                <tr class="bg-blackblue bg-inverse">
                    <th class="row-selected">
                        <input class="check-head" type="checkbox">
                    </th>
                    <th>ID</th>
                    <th>名称</th>
                    <th>上级菜单</th>
                    <th>分组</th>
                    <th>URL</th>
                    <th>排序</th>
                    <th>仅开发者模式显示</th>
                    <th>隐藏</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                {notempty name="list"}
                    {volist name="list" id="menu"}
                        <tr>
                            <td><input class="check-item" type="checkbox" name="id[]" value="{$menu.id}"></td>
                            <td>{$menu.id}</td>
                            <td>
                                <a href="{:U('index?pid='.$menu['id'])}" data-id="r-l" data-group="" onclick="adminAjaxAsk(this);return false;">{$menu.title}</a>
                            </td>
                            <td>{$menu.up_title|default='无'}</td>
                            <td>{$menu.group}</td>
                            <td>{$menu.url}</td>
                            <td width="160"><input class="input input-auto" alt="Menu" type="text" size="3" name="sort_{$menu['id']}" value="{$menu.sort|default=0}" onchange="fieldUpdate(this);return false;"><span class="edit_msg"></span></td>
                            <td width="130">
                                <a href="{:U('toogleDev',array('id'=>$menu['id'],'value'=>abs($menu['is_dev']-1)))}" class="ajax-get">
                                    {$menu.is_dev_text}
                                </a>
                            </td>
                            <td>
                                <a href="{:U('toogleHide',array('id'=>$menu['id'],'value'=>abs($menu['hide']-1)))}" class="ajax-get">
                                    {$menu.hide_text}
                                </a>
                            </td>
                            <td>
                                {if !empty($buttons['_'])}
                                {volist name="buttons['_']" id='bt'}
                                    {if $bt.group ==4}
                                        <a title="{$bt.title}" data-id="{$bt.id}" data-group="{$bt.group}" href="{:U(getParam($bt.url,$bt.get_param,$menu))}" onclick="adminAjaxAsk(this{$bt.ajax_param ? ','.$bt.ajax_param:''});return false;">{$bt.title}</a>
                                    {/if}
                                {/volist}
                                {/if}
                            </td>
                        </tr>
                    {/volist}
                    {else/}
                    <td colspan="10" class="text-center"> aOh! 暂时还没有内容! </td>
                {/notempty}
                </tbody>
            </table>
        </form>
        <!-- 分页 -->
        <div class="page">

        </div>
    </div>

    <script type="text/javascript">
        $(function() {
            //搜索功能
            $("#search").click(function() {
                var url = $(this).attr('url');
                var query = $('.search-form').find('input').serialize();
                query = query.replace(/(&|^)(\w*?\d*?\-*?_*?)*?=?((?=&)|(?=$))/g, '');
                query = query.replace(/^&/g, '');
                if (url.indexOf('?') > 0) {
                    url += '&' + query;
                } else {
                    url += '?' + query;
                }
                window.location.href = url;
            });
            //回车搜索
            $(".search-input").keyup(function(e) {
                if (e.keyCode === 13) {
                    $("#search").click();
                    return false;
                }
            });

        });
    </script>